# Data Preparation - Basics

## Import Libraries

In [19]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.preprocessing import LabelEncoder

## Import Data

In [20]:
df = sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [21]:
print("Count of distinct values in column 'island':\n")
df['island'].value_counts()

Count of distinct values in column 'island':

Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64

In [22]:
# Get a concise summary of the dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None

In [23]:
# Get a detailed summary of the dataframe
print(df.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

## Drop Useless Information

In [24]:
df = df.drop(['bill_depth_mm'], axis=1)
df.head()

  species     island  bill_length_mm  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen            39.1              181.0       3750.0    Male
1  Adelie  Torgersen            39.5              186.0       3800.0  Female
2  Adelie  Torgersen            40.3              195.0       3250.0  Female
3  Adelie  Torgersen             NaN                NaN          NaN     NaN
4  Adelie  Torgersen            36.7              193.0       3450.0  Female

## Rebuild Missing Data

In [25]:
print("Columns cointaining 'na' values:\n")
print(df.isna().any())
print('\n----------------------------------------------------\n')
print("Count of 'na' values per column:\n")
print(df.isna().sum())

Columns cointaining 'na' values:

species              False
island               False
bill_length_mm        True
flipper_length_mm     True
body_mass_g           True
sex                   True
dtype: bool

----------------------------------------------------

Count of 'na' values per column:

species               0
island                0
bill_length_mm        2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [26]:
df['bill_length_mm'] = df['bill_length_mm'].fillna(df['bill_length_mm'].mean())
print("Count of 'na' values per column:\n")
print(df.isna().sum())

Count of 'na' values per column:

species               0
island                0
bill_length_mm        0
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [27]:
def remove_missing_values(df):
    missing_values = df.isnull().sum()
    df = df.dropna()
    print("Removed {} missing values".format(missing_values.sum()))
    return df

In [28]:
# removing the remaining missing values
df = remove_missing_values(df)

Removed 15 missing values

## Outliers Handling

In [29]:
def outlier_handling(df, column_with_outliers, lower_bound=0.25, upper_bound=0.75):
    q1 = df[column_with_outliers].quantile(lower_bound)
    q3 = df[column_with_outliers].quantile(upper_bound)
    iqr = q3 - q1
    df = df[(df[column_with_outliers] > (q1 - 1.5 * iqr)) & (df[column_with_outliers] < (q3 + 1.5 * iqr))]
    return df

In [30]:
print("# rows before outliers handling: {} \n...".format(df.shape[0]))
df = outlier_handling(df, column_with_outliers = ['flipper_length_mm'], lower_bound=0.25, upper_bound=0.75)
print("# rows after outliers handling: {} \n...".format(df.shape[0]))

# rows before outliers handling: 333
...
# rows after outliers handling: 333
...

## Standardize Data

In [31]:
###

## Normalize Data

In [32]:
###

## Removing Duplicates

In [33]:
print("Detected {} duplicated row(s):\n".format(df[df.duplicated()].shape[0]))
df[df.duplicated()]

Detected 279 duplicated row(s):

    species island  bill_length_mm  flipper_length_mm  body_mass_g  sex
6       NaN    NaN             NaN              181.0          NaN  NaN
7       NaN    NaN             NaN              195.0          NaN  NaN
16      NaN    NaN             NaN              195.0          NaN  NaN
23      NaN    NaN             NaN              185.0          NaN  NaN
24      NaN    NaN             NaN              180.0          NaN  NaN
..      ...    ...             ...                ...          ...  ...
338     NaN    NaN             NaN              214.0          NaN  NaN
340     NaN    NaN             NaN              215.0          NaN  NaN
341     NaN    NaN             NaN              222.0          NaN  NaN
342     NaN    NaN             NaN              212.0          NaN  NaN
343     NaN    NaN             NaN              213.0          NaN  NaN

[279 rows x 6 columns]

In [41]:
df = df.drop_duplicates(subset=None, keep='first', ignore_index=False)
df = df.reset_index(drop=True)
print("Duplicated row(s) after cleaning: {}".format(df[df.duplicated()].shape[0]))

Duplicated row(s) after cleaning: 0

## Data Enrichment

In [35]:
# replace specific values on a specific column with a dedicated value
df['island'] = df['island'].replace(['Biscoe', 'Dream', 'Torgersen'], ['Sicilia','Sardegna','Corsica'])
df['island'].value_counts()

Series([], Name: island, dtype: int64)

In [36]:
# rename column
df = df.rename(columns={"island": "italian_island"})
df = df.rename(columns=str.upper)

In [37]:
# Encoding Categorical Variables
df = pd.get_dummies(df, columns=['ITALIAN_ISLAND'])
df.head()

  SPECIES  BILL_LENGTH_MM  FLIPPER_LENGTH_MM  BODY_MASS_G  SEX
0     NaN             NaN              181.0          NaN  NaN
1     NaN             NaN              186.0          NaN  NaN
2     NaN             NaN              195.0          NaN  NaN
3     NaN             NaN              193.0          NaN  NaN
4     NaN             NaN              190.0          NaN  NaN

In [38]:
# encode into a single column
le = LabelEncoder()
df["SEX_ENCODED"] = le.fit_transform(df["SEX"])
df.head()

  SPECIES  BILL_LENGTH_MM  FLIPPER_LENGTH_MM  BODY_MASS_G  SEX  SEX_ENCODED
0     NaN             NaN              181.0          NaN  NaN            0
1     NaN             NaN              186.0          NaN  NaN            0
2     NaN             NaN              195.0          NaN  NaN            0
3     NaN             NaN              193.0          NaN  NaN            0
4     NaN             NaN              190.0          NaN  NaN            0

In [39]:
# binning
df['BODY_MASS_G_bin'] = pd.qcut(df['BODY_MASS_G'], q=3)
print(df['BODY_MASS_G_bin'].value_counts())

IndexError: cannot do a non-empty take from an empty axes.

In [ ]:
df[['BODY_MASS_G', 'BODY_MASS_G_bin']].head()